//
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Greta Sans Condensed Bold","Greta Sans Bold",Arial,sans-serif;
}



.container{
    width: 1250px;
    margin: auto;
    position: relative;
}

.d-flex{
    display: flex;
}

.inverse{
    flex-direction: row-reverse;
    color: white;
}

.bg-blue{
    background-color: rgb(2, 130, 249);
    padding: 10px;
    font-size: 8px;

    p{
        margin-right: 40px;
    }
}

nav{
    height: 100px;
    align-items: center;
    justify-content: space-around; 
    position: relative;
  img{
        height: 70px;
    }
    ul{
        list-style: none;
        align-items: center;
        li{
            margin: 0 13px;
            a{
                color: rgb(70, 70, 70);
                text-decoration: none;
                font-size: 10px;
                display: inline-block;
                height: 100px;
                line-height: 100px;
            }
        }
    }
    input{
        border: none;
        width: 100px;
        
    }
    .cerca{
        border-bottom: 2px solid rgb(2, 130, 249);

    }

    .active{
        border-bottom: 4px solid rgb(2, 130, 249);
        color: rgb(2, 130, 249);

    }
}

.hero{
    padding: 200px;
    position: relative;
    background-image: url(../../public/img/jumbotron.jpg);
    z-index: 2;
    
}

footer{
    position: relative;
    background-image: url(../../public/img/footer-bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    
    .footer-menu{
        padding: 50px 0;
        color: white;
        h3{
            margin: 0px 0 20px 0;
        }
        ul{
            list-style: none;
            li{
                line-height: 20px;
                a{
                    color: rgb(149, 149, 149);
                    text-decoration: none;
                    font-size: 13px;
                }
            }
        }
        p{
            margin-top: 20px;
            color: rgb(149, 149, 149);
             text-decoration: none;
            font-size: 13px;
             a{
                text-decoration: none;
                color: rgb(2, 130, 249);

             }
        }

        
    }
  
}
.posizione{
    position: absolute;
    top: -100px;
    bottom: -50px;
    right: 0;
  
}
.centerfoot{
    margin: 0 20px;
}

.sign{
    background-color: rgb(48, 48, 48);
    padding: 30px 0;
    z-index: 2;
    position: relative;
    .d-flex{
    align-items: center;
    justify-content: space-between;
    }

    a{
        color: white;
        text-decoration: none;
        border: 2px solid rgb(2, 130, 249);
        padding: 10px;
    }
    ul{
        list-style: none;
        strong{
            color: rgb(2, 130, 249);
        }
        li{
            a{
                border: none;
            }
        }
    }

}

.card-container{
    background-color: black;
    z-index: 2;
    position: relative;

    .container{
        flex-wrap: wrap;
        padding: 40px 0;
        position: relative;


        .card{
            width: calc(100% / 6);
            color: white;
            padding: 0 5px;
            .card-img{
                height: 175px;
                width: 175px;
                overflow: hidden;
               
                   
                    
                
               
                img{
                    width: 100%;
                }
            }
        }
    }

}

.titolo{
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: white;
}

.current{
    position: absolute;
    background-color: rgb(2, 130, 249);
    color: white;
    padding: 10px;
    top: -20px;
}

.load{
    background-color: rgb(2, 130, 249);
    color: white;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: 150px;
}

.mid-bar{
    background-color: rgb(2, 130, 249);
    z-index: 2;
    position: relative;
    padding: 50px 0;
    .card-mid{
        width: calc(100% / 5);
        height: 80px;
        line-height: 80px;
        img{
            height: 100%;
            display: inline-block;
            margin-right: 10px;
        }

        a{
            text-decoration: none;
            color: white;
            font-size: 14px;
        }
    }


}
